.ant-pro-layout .ant-pro-layout-content {
    padding-bottom: 96px !important;
}
.ant-pro-layout-top {
    height: 100%;
}
.ant-pro-top-nav-header-main-left{
    margin-right: 15px !important;
}
.ant-pro-top-nav-header{
    max-width: 1440px;
    margin: 0 auto;
}
#basicLayout{

}