.code-block-extension-header {
    display: flex;
    user-select: none;
    height: 28px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 4px -6px #888888;
    margin-bottom: 1px;
}

.code-block-extension-headerLeft {
    margin-left: 10px;
}

.code-block-extension-headerLeft, .code-block-extension-headerRight {
    display: flex;
    align-items: center;
}

.code-block-extension-headerLeft > .code-block-extension-foldBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    filter: invert(0.8);
}

.code-block-extension-headerRight {
    margin-right: 10px;
}

.code-block-extension-lang {
    margin-left: 20px;
    font-size: 12px;
    filter: invert(0.5);
    opacity: 0.6;
}
.code-block-extension-copy{
    cursor: pointer;
}

.code-block-extension-foldBtn:hover{
    color: #ffffff;
    cursor: pointer;
}

.rotate90{
    transform: rotate(-90deg);
}
.hidden {
    display: none !important;
}
.boxShadowNone{
    box-shadow: none !important;
    margin-bottom: 0 !important;
}